/* Navbar Styling */
.navbar {
  padding: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.navbar-nav li {
  margin-right: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: green;
  display: inline-block;
}

@media (max-width: 1000px) {
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .navbar .navbar-nav li {
    text-align: right;
    margin: 0;
  }

  .navbar .navbar-nav li a {
    text-align: right;
    margin: 0;
  }
}

button {
  border-radius: 50px;
  background-color: green;
  color: white;
  border: none;
  width: auto;
  padding: 10px 20px;
  margin: 5px 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 88, 0);
}

.user-icon {
  margin-right: 10px;
}

body {
  background-color: white;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

#body {
  width: 80%;
  margin: 50px auto;
}

@media (max-width: 700px) {
  #body {
    width: 100%;
  }
}

.shadow-container {
  width: 100%;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0;
  padding: 0;
}

.logo-pic img {
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  left: 0;
  z-index: 3;
}

.navbar-nav {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  bottom: -10px;
}

.logo-name {
  position: absolute;
  margin-left: 150px;
  top: 35px;
}

.logo-name img {
  width: 150px;
}

.logo-pic,
.logo-name {
  display: inline-block;
  vertical-align: middle;
}

.header {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  position: relative;
}

.searches_home_page {
  text-align: center;
}

.basic_search {
  display: block;
  margin-bottom: 20px;
}

.buttons-search-adv-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.searches_home_page #search,
#fridgeSearch {
  width: 280px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-style: italic;
}

.search-container form {
  width: 100%;
}

#basicSearchForm {
  text-align: center;
}

.recipe-img {
  max-width: 100%;
  height: auto;
  width: 280px;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe-img:hover {
  transform: scale(1.1);
}

.like-form {
  display: flex;
  flex-direction: column;
}

.recipe-details {
  width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.recipe-details a {
  text-decoration: none;
  align-items: bottom;
  width: 250px;
  width: 100%;
}

.recipe-li-home-page {
  margin: 20px 5px 0 0;
  width: 290px;
}

.recipe-details button {
  padding-right: 0 5px;
  align-items: top;
}

#body .recipe-home-page {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#body ul li {
  list-style-type: none;
  box-sizing: border-box;
}

.recipe-home-page {
  list-style-type: none;
  padding: 5px;
}

input[type="range"] {
  margin: 0;
  padding: 0;
}

.ingredient-checkbox {
  visibility: visible;
}

.ingredient-label {
  position: relative;
}

.ingredient-checkbox:checked + .ingredient-label {
  text-decoration: line-through;
  color: black;
}

.title-bookmark {
  display: flex;
  justify-content: center;
}

.recipe-info {
  display: flex;
  justify-content: space-around;
}

.recipe-info ul {
  padding: 0;
}

.img-recipe-page {
  display: block;
  margin: auto;
  width: 800px;
  height: auto;
}

.like-button {
  margin: 10px 0 0 50px;
}

.recipe-page {
  display: flex;
}

.main-block {
  flex: 1;
  margin-right: 50px;
}

.secondary-block {
  width: 200px;
  height: auto;
  padding: 20px;
  background-color: rgb(255, 225, 169);
}

.img-secondary {
  width: 160px;
  height: auto;
  border-radius: 5px;
}

.secondary-block h6 {
  margin-bottom: 20px;
}

.history-page-title-button {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.form-group .form-control {
  width: 70%;
}

.form-group label {
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.form-check-label {
  text-align: left;
}

.container {
  display: block;
}

#hideAdvancedSearchButton {
  justify-content: center;
  text-align: center;
}
