<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NourishPal{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <script src="https://unpkg.com/jquery"></script>
    <!-- <script src="https://unpkg.com/popper"></script> -->
    <script src="https://unpkg.com/bootstrap"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <script src="https://kit.fontawesome.com/27c815dc16.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    /> -->
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/logo_tab.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darumadrop+One&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %}">
  
  <nav class="navbar navbar-expand">
    
      <div class="container-fluid">

        <div class="shadow-container">
          <div class="header">

          <div class="logo-pic">
            <a href="/">
              <img src="/static/logo_tab.png" alt="logo" />
            </a>
          </div>

          <div class="logo-name">
            <a href="/" class="navbar-brand">
              <img src="/static/name.png" alt="name" />
            </a>
          </div>

        <ul class="nav navbar-nav ml-auto">
          {% if g.user %}
          <li>
            <a href="/users/{{ g.user.id }}">
              <span>{{ g.user.username }}</span>
            </a>
          </li>
          <li class="user-icon">
            <i class="fas fa-user-circle fa-2x"></i>
          </li>
          <li><a href="/users/{{ g.user.id }}">{{ g.user.first_name }} {{ g.user.last_name }}</a></li>
          <li><a href="/users/{{g.user.id}}/favorites">Favorites</a></li>
          <li><a href="/users/{{g.user.id}}/history">History</a></li>
          <li><a href="/logout">Log out</a></li>
        {% else %}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {% endif %}
          </ul>
      </div>
    </div>
    </div>
  </nav>
  <div id="body">
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} <div id="body">{% block content %} {% endblock %}
    </div>
  </div>


    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>