{% extends 'base.html' %}
{% block title %}Home - NourishPal{% endblock %}

{% block content %}

    <h2 class="join-message">Search recipes</h2>
    <form action="/search">
        <input type="text" id="search" name="q" placeholder="What would you like to cook?">
        <button type="submit">Search</button>
    </form>

    {% if recipes %}
    <ul>
        {% for recipe in recipes %}
        </br>
        <li>
            <form id="like-form-{{ recipe.id }}" class="like-form">
                <a href="{{ url_for('recipe_page', recipe_id=recipe.id) }}">
                    <h4>{{ recipe.title }}</h4>
                </a>
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <button type="button" class="btn btn-sm like-button" data-recipe-id="{{ recipe.id }}">
                    {% if recipe.id in liked_recipe_ids %}
                        <i class="fas fa-bookmark fa-2x" style="color: red;"></i>
                    {% else %}
                        <i class="far fa-bookmark fa-2x"></i>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
      
{% endblock %}