{% extends 'base.html' %}
{% block title %}History - NourishPal{% endblock %}
{% block content %}

<h2 class="join-message">Your history:</h2>
<form action="{{ url_for('clear_history', user_id=g.user.id) }}">
    <button>Clear history</button>
</form>

{% if recipes %}
    <ul>
        {% for recipe in recipes %}
        </br>
        <li>
            <form id="like-form-{{ recipe.id }}" class="like-form">
                <a href="{{ url_for('recipe_page', recipe_id=recipe.id) }}">
                    <h4>{{ recipe.title }}</h4>
                </a>
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <button type="button" class="btn btn-sm like-button" data-recipe-id="{{ recipe.id }}">
                    {% if recipe.is_liked %}
                        <i class="fas fa-bookmark fa-2x" style="color: red;"></i>
                    {% else %} 
                        <i class="far fa-bookmark fa-2x"></i>
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}